[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/autotrash -d 60
