@import url("./colors.css");

* {
    font-family: "CommitMono Nerd Font Propo";
    font-size: 12px;
    color: alpha(@on_surface, 0.8);
    transition: 0.1s ease-in-out;
    font-weight: bolder;
}

window#waybar {
    background-color: @background;
    border-radius: 12px;
}

tooltip label {
    color: alpha(@on_surface, 0.6);
}

#tray menu label {
    color: @on_surface;
}

#backlight,
#battery,
#clock,
#custom-launcher,
#custom-notification,
#custom-notification.dnd-none,
#custom-notification.dnd-notification,
#custom-notification.notification,
#custom-power,
#custom-screen-time,
#idle_inhibitor,
#misc,
#mpris,
#power-profiles-daemon,
#privacy,
#pulseaudio,
#tray {
    padding: 0px 10px;
    margin: 4px 0px;
    background-color: @surface_container_high;
    color: alpha(@on_surface_variant, 0.8);
    border-radius: 10px;
}

#custom-launcher {
    margin-left: 4px;
}

#custom-power {
    margin-right: 4px;
}

#battery.warning:not(.charging) {
    color: @tertiary;
}

#battery.critical:not(.charging),
#pulseaudio.muted,
#workspaces button.urgent {
    color: @error;
}

#workspaces {
    border-radius: 10px;
    background-color: @surface_container_high;
    margin: 4px 0px;
}

#workspaces button label {
    color: @on_surface_variant;
    padding: 0 4px;
}

#workspaces button {
    padding: 2px 6px;
    border-radius: 8px;
    background: transparent;
    min-width: 0px;
}

#workspaces button.active label {
    color: @on_primary;
}

#workspaces button.active,
#workspaces button.focused {
    background-color: @primary;
    color: @on_primary;
    border-radius: 8px;
    padding: 2 10px;
    font-weight: bold;
}

#privacy-item.audio-out {
    color: @background;
}

/* #custom-notification.dnd-none { */
/*     padding-left: 7px; */
/*     padding-right: 13px; */
/* } */
/**/

/* #custom-notification.dnd-notification { */
/*     padding-left: 8px; */
/*     padding-right: 7px; */
/* } */

#backlight:hover,
#battery:hover,
#clock:hover,
#custom-clipboard:hover,
#custom-launcher:hover,
#custom-notification:hover,
#custom-power:hover,
#custom-screen-time:hover,
#idle_inhibitor:hover,
#mpris:hover,
#power-profiles-daemon:hover,
#privacy:hover,
#pulseaudio:hover,
#tray:hover,
#workspace button:hover {
    background-color: @primary;
    color: @on_primary;
    box-shadow: 0 2px 6px alpha(@shadow, 0.3);
    transition: all 0.2s ease-in;
}
