@import './colors.css';

window,
.background,
.sidebar-pane,
.content-pane .undershoot-top .top-bar,
.view {
    background-color: alpha(@background, 0.4);
}

.floating .background .message-area,
.floating .background .response-area {
    background-color: alpha(@background, 0.9);

}

.boxed-list .activatable {
    background-color: alpha(@surface_container, 0.8);
}

*:focus {
    outline: 1px solid @primary;
}

.text-button {
    background-color: alpha(@surface_container, 0.9);
}

.text-button:hover {
    background-color: alpha(@primary, 0.9);
    color: alpha(@on_primary, 0.9);
}

popover {
    background-color: alpha(@background, 1);
}

popover>contents {
    background-color: alpha(@background, 0.98);
}

popover.background {
    background-color: transparent;
    box-shadow: none;
}

row:selected,
row:hover {
    background-color: alpha(@primary, 0.3);
}

modelbutton:hover,
modelbutton:selected {
    background-color: alpha(@primary, 0.3);
}

.undershoot-top,
.shortcut-row
{
    background-color: alpha(@background, 0.8);
}
