@import url('./colors.css');

* {
    font-family: CommitMono Nerd Font Propo;
    font-size: 18px;
    font-weight: bold;
    color: alpha(@primary_container, 1);
    box-shadow: none;
}

window {
    background-color: alpha(@background, 0.7);
    padding: 15px;
}

button {
    border-radius: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32%;
    min-width: 100px;
    transition: all 0.25s ease-in-out;
    padding: 25px;
    margin: 10px;
}

button:active,
button:hover {
    background-size: 45%;
    border: none;
}

#lock,
#logout,
#suspend,
#shutdown,
#hibernate,
#reboot {
    background-color: alpha(@surface_container_high, 0.6);
    border: none;
}

#lock:hover,
#logout:hover,
#suspend:hover,
#shutdown:hover,
#hibernate:hover,
#reboot:hover {
    background-color: @primary;
    font-size: 20px;
}

#lock {
    background-image: image(url("assets/lock.svg"));
}

#logout {
    background-image: image(url("assets/logout.svg"));
}

#suspend {
    background-image: image(url("assets/suspend.svg"));
}

#hibernate {
    background-image: image(url("assets/hibernate.svg"));
}

#shutdown {
    background-image: image(url("assets/shutdown.svg"));
}

#reboot {
    background-image: image(url("assets/reboot.svg"));
}
