layout {
    gaps 4

    always-center-single-column

    center-focused-column "on-overflow"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.75
        proportion 0.9
    }

    // preset-window-heights { }
    default-column-width {}

    focus-ring {
        // off

        width 2
        active-color "{{colors.primary.default.hex}}"
        inactive-color "{{colors.outline_variant.default.hex}}"
    }

    border {
        off

        // width 2
        active-color "{{colors.primary.default.hex}}"
        inactive-color "{{colors.outline_variant.default.hex}}"
        urgent-color "{{colors.error.default.hex}}"
    }

    shadow {
        // on
        // draw-behind-window true

        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}

recent-windows {
    // off
    debounce-ms 750

    open-delay-ms 150

    highlight {
        active-color "{{colors.primary.default.hex}}"
        urgent-color "{{colors.error.default.hex}}"
        padding 30
        corner-radius 16
    }

    previews {
        max-height 720
        max-scale 1
    }

    binds {
        Alt+Tab         { next-window       scope="all";                            }
        Alt+Shift+Tab   { previous-window   scope="all";                            }
        Alt+grave       { next-window                           filter="app-id";    }
        Alt+Shift+grave { previous-window                       filter="app-id";    }

        Mod+Tab         { next-window       scope="workspace";                      }
        Mod+Shift+Tab   { previous-window   scope="workspace";                      }
        Mod+grave       { next-window                           filter="app-id";    }
        Mod+Shift+grave { previous-window                       filter="app-id";    }
    }
}

overview {
    zoom 0.75

    backdrop-color "{{colors.background.default.hex}}"
}
